<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a>FAMILIA DE PRODUTOS</a></li>
            <li class="breadcrumb-item"><a href="/familiaProduto/new">NOVA FAMILIA <img src="/img/add-24.png" alt=""></a>
            </li>
        </ol>
    </nav>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <form class="d-flex" role="search" action="/familiaProduto/search" method="post">
                <input class="form-control me-2" type="search" placeholder="digite o nome do familia" name="search"
                    aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">PROCURAR</button>
                <a href="/familiaProduto" class="btn btn-outline-danger" type="submit">LIMPAR</a>
            </form>

        </div>
    </nav>
</div>
<% if(msg !=null){  %>
    <script>
        getNotify("<%= msg.title %>", "<%= msg.text %>", "<%= msg.type %>", "<%= msg.position %>", "<%= msg.duration %>")
    </script>
    <%}%>

        <main class="container">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>FAMILIA</th>
                        <th>OPÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data.arrData !=null) { data.arrData.forEach(familia=>
                        {%>
                        <tr>
                            <td>
                                <%= familia.id_familia_produto%>
                            </td>
                            <td>
                                <%= familia.nome_familia%>
                            </td>
                            <td>
                                <a href="/familiaProduto/edit?id=<%= familia.id_familia_produto %>">
                                    <img src="/img/edit-24.png" alt="">
                                </a>
                                <a id="delete"
                                    onclick='perguntar("<%= familia.id_familia_produto %>", "<%= familia.nome_familia %>","familiaProduto")'
                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                    href="<%= familia.id_familia_produto %>">
                                    <img src="/img/trash-24.png" alt="">
                                </a>
                            </td>
                        </tr>
                        <%}) } %>
                </tbody>
            </table>
        </main>
        
<%- include('../../layout/modals/modalDelete') %>